<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yuanqikai.backend.mapper.ClazzMapper">
  <resultMap id="BaseResultMap" type="cn.yuanqikai.backend.entity.Clazz">
    <id column="class_id" jdbcType="INTEGER" property="classId" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
  </resultMap>
  <sql id="Base_Column_List">
    class_id, grade, major, class_name
  </sql>
  <select id="findRepeat" parameterType="cn.yuanqikai.backend.entity.Clazz" resultType="java.lang.Integer">
    select count(*)
    from clazz
    where grade = #{grade,jdbcType=VARCHAR}
    and major = #{major,jdbcType=VARCHAR}
    and class_name = #{className,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from clazz
    where class_id = #{classId,jdbcType=INTEGER}
  </select>
  <select id="selectMultiple" parameterType="cn.yuanqikai.backend.entity.Clazz" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from clazz
    where 1 = 1
    <if test="grade != null and grade != ''">
      and grade = #{grade,jdbcType=VARCHAR}
    </if>
    <if test="major != null and major != ''">
      and major = #{major,jdbcType=VARCHAR}
    </if>
    <if test="className != null and className != ''">
      and class_name = #{className,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from clazz
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from clazz
    where class_id = #{classId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.yuanqikai.backend.entity.Clazz">
    insert into clazz (class_id, grade, major, 
      class_name)
    values (#{classId,jdbcType=INTEGER}, #{grade,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR}, 
      #{className,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.yuanqikai.backend.entity.Clazz">
    insert into clazz
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="classId != null">
        class_id,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="major != null">
        major,
      </if>
      <if test="className != null">
        class_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="classId != null">
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="className != null">
        #{className,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.yuanqikai.backend.entity.Clazz">
    update clazz
    <set>
      <if test="grade != null">
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="className != null">
        class_name = #{className,jdbcType=VARCHAR},
      </if>
    </set>
    where class_id = #{classId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.yuanqikai.backend.entity.Clazz">
    update clazz
    set grade = #{grade,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
      class_name = #{className,jdbcType=VARCHAR}
    where class_id = #{classId,jdbcType=INTEGER}
  </update>
</mapper>